@use "var";
@use "preparedCode";

.main_content__header-text{
    font: var.$headerText400;
}

.first-screen{
    position: relative;
    margin-bottom: 90px;

    &__image{
        width: 100%;
        z-index: 0;
    }

    &__title{
        position: absolute;
        top: 100px;
        left: 135px;
        z-index: 1;
        max-width: 770px;
        width: 100%;
    }
}

.blog-info{
    
    &__submenu{
        margin-bottom: 30px;
        font: var.$fontMainText;
        color: var.$additionalTextColor;
    }

    &__header{
        font: var.$blogTitle;
        max-width: 369px;
        margin-bottom: 15px;
    }

    &__date{
        margin-bottom: 50px;
        font: var.$fontMainText;
        color: var.$additionalTextColor;
    }

    &__description{
        font: var.$fontMainText;
        color: var.$loadMoreButton;
        max-width: 448px;
        letter-spacing: 0.05em;
    }
}

@media only screen and (max-width: 930px) {


    .main_content__header-text{
        font: var.$headerText400;
    }
    
    .first-screen{
        position: relative;
        margin-bottom: 70px;
    
        &__image{
            width: 100vw;
            z-index: 0;
        }
    
        &__title{
            position: absolute;
            top: 30px;
            left: 34px;
            z-index: 1;
            max-width: 476px;
            font-size: 30px;
        }
    }

    
    
    .blog-info{
        
        &__submenu{
            margin-bottom: 30px;
            font: var.$fontMainText;
            color: var.$additionalTextColor;
        }
    
        &__header{
            font: var.$blogTitle;
            max-width: 369px;
            margin-bottom: 15px;
        }
    
        &__date{
            margin-bottom: 40px;
            font: var.$fontMainText;
            color: var.$additionalTextColor;
        }
    
        &__description{
            font: var.$fontMainText;
            color: var.$loadMoreButton;
            width: 100%;
            letter-spacing: 0.05em;
        }
    }


}

@media only screen and (max-width: 480px) {

    .main_content__header-text{
        font: var.$headerText600Mob;
        text-align: center;
        font-size: 48px;
    }
    
    .first-screen{
        position: relative;
        margin-bottom: 70px;
    
        &__image{
            width: 100%;
            z-index: 0;
        }
    
        &__title{
            position: absolute;
            top: 70px;
            left: 15px;
            z-index: 1;
            max-width: 300px;
            width: 100%;
        }
    }

    .blog-info{
        display: inline-flex;
        column-width: 100%;
        justify-content: center;
        flex-wrap: wrap;

        &__submenu{
            margin-bottom: 30px;
            font: var.$fontMainText;
            color: var.$additionalTextColor;
            font-size: 16px;
        }
    
        &__header{
            font: var.$blogTitle;
            font-size: 22px;
            max-width: 100vw;
            width: 100%;
        }
    
        &__date{
            margin-bottom: 40px;
            font: var.$fontMainText;
            color: var.$additionalTextColor;
        }
    
        &__description{
            font: var.$fontMainText;
            color: var.$loadMoreButton;
            letter-spacing: 0.05em;
        }
    }

    .main-content__blog-article{
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .main-content__blog-image{
        width: 100%;
        margin: 0 auto;
        order: 1;

        & img{
            width: 100%;
        }
    }

    .main-content__blog-info{
        width: 100%;
        text-align: start;
    }

    .section-one, .section-two{
        margin: 0 auto;
    }



}
