@use "var";
@use "preparedCode";


html{
    width: 100%;
}

cursor{
    cursor: url(../images/svg/cursor.svg);
}

button:hover, a:hover, svg:hover{
    @extend %buttonEffect;
}



.arrow{
    max-width: 25px;
    max-height: 12px;
}