@use "var";
@use "preparedCode";

.load-more{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;

    &__button{
        padding: 9.5px 45px;
        border: 0px;
        background: var.$loadMoreButton;
        margin-top: 65px;
        
    }
}

.load-more__button a:link{
    color: #fff;
}
.load-more__button a:visited{
    color: #fff;
}

.info{
    display: flex;
    gap: 200px;
    justify-content: space-between;
    margin-bottom: 90px;
    align-items: self-start;

    &-text1{
        font: var.$infoPosition;
    }

    &-text2{
        font: var.$infoDescription ;
        color: var.$loadMoreButton;
        letter-spacing: 0.05em;
    }


    &-text1, &-text2{
        width: calc((100% - 200px)/2);
    }

}

@media only screen and (max-width: 930px) {
    
    .info{
        flex-wrap: wrap;
        margin-bottom: 90px;
        align-items: self-star;
        gap: 50px;

        &-text1{
            width: 100%;
        }
    
        &-text2{
            width: 100%;
            text-align: end;
        }
    
    }
}

@media only screen and (max-width: 480px) {
    .info{
        display: block;
        max-width: 480px;
        width: 100%;
        align-items: center;
    }

    .info-text1, .info-text2{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        text-align: start;
    }
}