@use "var";
@use "preparedCode";



.latest-posts{
    
    &__heading{
        @extend %displayFlexCenter;
        justify-content: space-between;
        margin-bottom: 46px;
        
    }

    &__button{
        border: 0px;
        background-color: #fff;
        & a:link{



        &::after{
            margin-left: 5px;
            position: relative;
            top: 5px;
            content: url(../images/svg/arrow-right2.svg);
            }
        }
    }

    &__header{
        font: var.$subTitle;
    }

    &__button{
        font: var.$fontMainText;
        color: var.$additionalTextColor;
    }
}

.latest-post{
    @extend %displayFlexStart;
    align-items: self-start;
    gap: 30px;
    margin-bottom: 112px;
}



.post-img{
    width: 100%;
    padding-bottom: var.$marginUnderPicture;

    &__description{
        @extend %displayFlexCenter;
        justify-content: space-between;
        margin-bottom: var.$marginUnderPicture;

        &-text{
            font: var.$latestPostPictureTitle;
            color: var.$additionalTextColor;
        }
    }
}


.post-title{
    font: var.$postTitle;
    margin-bottom: 20px;
}

.post-information{
    font: var.$fontMainText;
    color: var.$loadMoreButton;
}

@media only screen and (max-width: 930px){
    .latest-post__post-one, .latest-post__post-two, .latest-post__post-three{

        display: flex;
        gap: 20px;

        & div{
            max-width: calc((100% - 20px)/2);
            text-align: center;
        }
    }

    .latest-post{
        flex-direction: column;
    }

    .post-img{
        width: 100%;
        height: 100%;
        padding: 0;

    &__description{
        justify-content: space-between;
        margin-bottom: 30px;

        &-text{
            font: var.$latestPostPictureTitle;
            color: var.$additionalTextColor;
        }
    }
}
    .pos-two__image{
        order: 1;
    }    
}