@use "var";
@use "preparedCode";





.most-popular{

    margin-bottom: 65px;

    &__heading{
        @extend %displayFlexCenter;
        justify-content: space-between;
        margin-bottom: 46px;
    }

    &__header{
        font: var.$subTitle;
    }

    &__button{
        border: 0px;
        background-color: #fff;
        & a:link{

        &::after{
            content: url(../images/svg/arrow-right2.svg);
            }
        }
    }
}


.most-popular-post{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.most-popular-post__post-one, .most-popular-post__post-two{
    max-width: 570px;
    width: 100%;
}




.popular-post__img{
    width: 100%;
    padding-bottom: var.$marginUnderPicture;
}

.popular-img__description{
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: var.$marginUnderPicture;

        &-text{
            font:var.$latestPostPictureTitle;
            color: var.$additionalTextColor;
        }
}

.popular-post-title{
    margin-bottom: var.$marginUnderPicture;
    font: var.$blogTitle;
}

.popular-post-information{
    font: var.$fontMainText;
    color: var.$loadMoreButton;
}

@media only screen and (max-width: 930px) {

    .most-popular{
        margin-bottom: 65px;
    }
    
    .most-popular-post{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    }

    .most-popular-post__post-one, .most-popular-post__post-two{
        max-width: 570px;
        width: 100%;
        }

}

@media only screen and (max-width: 480px) {
    .most-popular-post{
        display: block;
        max-width: 480px;
        width: 100%;
        align-items: center;


        &__post-one{
            margin: 0 auto;
        }
    }
    .most-popular__heading, .most-popular-post__post, .popular-img__description, .most-popular-post__post-one div, .most-popular-post__post-two div {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }




}
