// Font

$infoDescription: 19px / 32px 'LatoNormal', sans-serif;
$fontMainText: 16px / 26.56px 'LatoNormal', sans-serif;
$headerMenuText: 14px / 17px 'LatoNormal', sans-serif;
$latestPostPictureTitle: 12px / 19px 'LatoNormal', sans-serif;

$headerText600: 48px / 64px 'RedHat600', sans-serif;
$headerText600Tab: 36px / 50px 'RedHat600', sans-serif;
$headerText400: 48px / 64px 'RedHatNormal', sans-serif;
$subTitle: 28px / 27px 'RedHat600', sans-serif;
$blogTitle: 23px / 38px 'RedHat500', sans-serif; 
$postTitle: 22px / 36px 'RedHat500', sans-serif;
$infoPosition: 23px / 38px 'RedHatNormal', sans-serif;


//Color

$additionalTextColor: #7B7B7B;
$footerBg: #F4F4F4;

$loadMoreButton: #565656;


//Background


// Margin - Padding

$marginTitleBottom: 50px;
$marginUnderPicture: 25px;

